<div class="slider my-recipes">
  <!-- #each block -->
  <div class="recipe-square">
    [ + ]
  </div>
  <!-- /each -->
</div>

<div class="slider public-recipes">

</div>

<div class="slider favorite-recipes">

</div>

{{outlet}}
