<header>
  <div class="user-banner">
    The kitchen is yours, chef!
  </div>
  <div class="app-title">
    Batch Maker
  </div>
  <div class="nav-buttons">
    <span class="add"><i class="mega-octicon octicon-plus"></i></span>
    <span class="settings"><i class="mega-octicon octicon-gear"></i></span>
    <span class="user"><i class="mega-octicon octicon-person"></i></span>
  </div>
</header>


{{outlet}}
