<header>
  <div class="user-banner">
    The kitchen is yours, chef!
  </div>
  <div class="app-title">
    Batch Maker
  </div>
  <div class="nav-buttons">
    <span class="add">[+]</span>
    <span class="settings">[O]</span>
    <span class="user">[ \o/ ]</span>
  </div>
</header>


{{outlet}}
